<div id="<%= dom_id outgoing_message %>">
  <p>
    <strong>Incoming message:</strong>
    <%= outgoing_message.incoming_message_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= outgoing_message.body %>
  </p>

</div>
