<h1>Editing outgoing message</h1>

<%= render "form", outgoing_message: @outgoing_message %>

<br>

<div>
  <%= link_to "Show this outgoing message", @outgoing_message %> |
  <%= link_to "Back to outgoing messages", outgoing_messages_path %>
</div>
